<table>
    <tbody>
<tr>
    <td>{{ keys[0]  }}</td> <td>{{ keys[1]  }}</td> <td>{{ keys[2]  }}</td> <td>{{ keys[3]  }}</td> <td>{{ keys[4]  }}</td> <td>{{ keys[5]  }}</td>      <td>{{ keys[6]  }}</td> <td>{{ keys[7]  }}</td> <td>{{ keys[8]  }}</td>  <td>{{ keys[9]  }}</td>
</tr>
<tr>
    <td>{{ keys[10] }}</td> <td>{{ keys[11] }}</td> <td>{{ keys[12] }}</td> <td>{{ keys[13] }}</td> <td>{{ keys[14] }}</td> <td>{{ keys[15] }}</td>      <td>{{ keys[16] }}</td> <td>{{ keys[17] }}</td> <td>{{ keys[18] }}</td>  <td>{{ keys[19] }}</td>
</tr>
<tr>
    <td>{{ keys[20] }}</td> <td>{{ keys[21] }}</td> <td>{{ keys[22] }}</td> <td>{{ keys[23] }}</td> <td>{{ keys[24] }}</td> <td>{{ keys[25] }}</td>      <td>{{ keys[26] }}</td> <td>{{ keys[27] }}</td> <td>{{ keys[28] }}</td>  <td>{{ keys[29] }}</td>
<tr>
    <td colspan="3"></td><td>{{ keys[30] }}</td> <td>{{ keys[31] }}</td> <td>{{ keys[32] }}</td> <td>{{keys[33] }}</td><td colspan="3"></td>
</tr>
</tbody>
</table>
